{% include "header.html" %}

<!-- Page Header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="masthead"
        style="background-image: url('https://cdn.pixabay.com/photo/2019/06/19/07/13/email-4284157_960_720.png')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Profile</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="profile">
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="User" style="width:100%">
        {% if current_user.is_authenticated: %}
            {% for user in profile %}
                <h2>{{user.name}}</h2>
                <p class="title">{{user.email}}</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            {% endfor %}
        {% else %}
            <h2 style="color: red">You are either not logged in or registered !</h2>
        {% endif %}
    </div>
</div>