{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>All users</h1>
            <table class="table">
                <tr>
                    {% for user in user_details %}
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}